<!DOCTYPE html>
<html lang="en" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"/>
    <!-- Include the core HTMX library -->
    <script src="https://unpkg.com/htmx.org@latest"></script>

    <!-- Include the client-side templates extension -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>

    <script src="https://unpkg.com/mustache@latest"></script>

    <title>HTMX App</title>
</head>
<body class="bg-gray-200">

<div class="flex h-screen" hx-ext="client-side-templates">
    <!-- Side Navigation -->
    <div class="w-56 bg-gray-800 text-white p-4">
        <a href="/" class="block py-2 px-4 text-white hover:bg-gray-600">Home</a>
        <a href="/users" class="block py-2 px-4 text-white hover:bg-gray-600">Users</a>
        <a href="/posts" class="block py-2 px-4 text-white hover:bg-gray-600">Posts</a>
    </div>

    <table width="100%">
        <tr>
            <td align="center" valign="middle">
                <div style="text-align:center">
                    <h1 hx-post="/greeting" hx-trigger="load">Welcome2</h1>

                    <div id="chatlocation">
                        mamad?
                    </div>

                    <form id="messageForm" hx-post="/chat" hx-target="#chatlocation" hx-swap="beforeend" hx-on::after-request="this.reset()"  mustache-template="knn">
                        <input type="text" id="message" name="message" placeholder="Your message" required>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <template id="knn">
        <p> {{userMessage}} <div/> {{responseMessage}} </p>
    </template>

</div>

</body>
</html>
